*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:20px;
    span{
        display: inline-block;
    }
}
header{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    line-height: 1.6;
    
}
.main{

    height: 100px;
    width: 100px;
    background-color: #d9d9d9;
    border-radius: 50%;
}
.own-nam{
    font-size: 1.5rem;
    display: block;
    
}
.call{
    font-size: 16px;
    vertical-align: middle;
}
.add{
    padding: 10px;
    background-color: #d9d9d930;
    font-size: 20px;
    border-radius: 50px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 10px 0.5px gray;
}
.product{
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}
.midline{
    height: 2px;
    background-color: gray;
}
.total{
    font-size: 20px;
    display: flex;
    align-items: center;
   justify-content: space-between;
   padding: 20px;
    
}
.tot{
margin-left: 50vw;
}