* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    scrollbar-width: none;
}


header {
    background-color: #d9d9d9;
    height: auto;
    border-radius: 0 0 20px 20px;
    width: 100vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.name {
    display: flex;
    gap: 20px;
    align-items: center;

    span {
        display: block;
    }
}

.own-img {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.own-nam {
    font-size: 1.2rem;
}

.menu {
    display: flex;
    gap: 2px;
}

.point {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
}

.head {
    display: flex;
    justify-content: space-evenly;
}

.advance-head,
.due-head {
    width: 40vw;
    min-width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px 0px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2;
    box-shadow: 0 4px 4px 0 gray;

    span {
        display: block;
    }
}

.num-adv {
    color: rgb(3, 210, 9);
}

.num-due {
    color: red;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    gap: 10px;

}
.se-box {
    display: flex;
    align-items: center;    
    height: 50px;
    background-color: #d9d9d960;
    padding: 20px;
    
    border-radius: 50px;
    gap: 10px;
    justify-content: center;
    flex: 1;
}

.se-box {
    span {
        display: block;
    }

    input {
        flex: 1;
        font-size: 1.1rem;
        background-color: transparent;
        outline: none;
        border: none;
    }

}

input:focus {
    border: none;
    outline: none;
}
.adpe{
    width: 50px;
    height: 50px;
    background-color: #d9d9d960;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    span{
        display: block;

    }
}

.customer {
    margin: 40px 0px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100vw;

    a {
        color: black;
        text-decoration: none;
    }

}

.cust {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;

    span {
        display: inline-block;
    }
}

.cusim {
    width: 50px;
    height: 50px;
    background-color: #d9d9d9;
    border-radius: 50%;
}

.cusnam {
    flex: 1;
    margin-left: 20px;
    font-size: 1.2rem;
}